.pokemon-detail {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;

  &__artwork {
    aspect-ratio: 1;
    width: 200px;
    height: 200px;
  }

  &__title {
    margin-top: 12px;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
  }

  &__info,
  &__section {
    margin-top: 16px;
    text-align: left;
  }
}