@import "_var";

.transit(@prop: all, @time: @transitionTime, @ease: @transitEase) {
  transition-property: e(@prop);
  transition-duration: @time;
  transition-timing-function: @ease;
}

.size(@width, @height: @width) {
  width: @width;
  height: @height;
}

.clear-btn() {
  padding: 0;
  border: none;
  outline: none;
  background-color: transparent;
  font: inherit;
  cursor: pointer;
  text-align: inherit;
  -webkit-tap-highlight-color: transparent;
  color: currentColor;
}
